
@using BTL_ConGa.Models;
@model IEnumerable<DanhMuc>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@foreach(var item in Model)
{
	<a class="collapse-item" asp-area="Admin" asp-controller="HomeAdmin" asp-action="MonAnTheoDanhMuc" asp-route-madanhmuc="@item.MaDanhMuc">@item.TenDanhMuc</a>
}
